body{
    font-family: 'Goudy Bookletter 1911', serif;
    background-image: url(images.jpg);
}
h1{
    font-size: 60px;
}
.gray-color{
    color: gray;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
 width: 60%;
}
.link-button{
    text-decoration: none;
  background-image: linear-gradient(orange,tomato );
color: white;
font-weight:initial;
  padding: 10px 20px;
  border-radius: 5px;
}
.top-banner{
    background-image: url(world war 2/hand-painted-watercolor-background-with-sky-clouds-shape.jpg);
    background-repeat: no-repeat;
} 
.turner img{
    width: 100%;
}
.turner{
    width: 50%;
    padding-right: 10%;
    background-repeat: no-repeat;
}
.experience-item{
    box-shadow: 10px 10px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 20px;
    border-left: 10px solid;
}
#web-ex-item{
    border-left: 7px solid;
  border-image:linear-gradient(blue,cyan) ;
  border-image-slice: 1;
}
footer p{
    text-align: center;
}